<h1>A Listing of Holidays!</h1>
<p><b>For this month in the US:</b>
  <% @holidays.each do |x| %>
    </br>
    <%= x[0]['date'] %> <%= x[0]['name'] %>
  <% end %>
</p>
<p><b>For the month I was born:</b>
  <% @holidays2.each do |x| %>
    </br>
    <%= x[0]['date'] %> <%= x[0]['name'] %>
  <% end %>
</p>
